.container {
  max-width: 800px;
  margin: 4rem auto;
  padding: 2rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.titles {
  font-size: 1.5rem;
  margin: 1.5rem 0 1rem;
  color: #333;
}
.description {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  color: #444;
}
.image_buttons{
  display: flex;
  flex-direction: row;  
  align-items: center;
  gap: 1rem;
  justify-content: center;

}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
